@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 4px;
  color: black;
  border-radius: 0.375rem; /* rounded-md */
  font-size: 0.875rem;     /* text-sm */
  font-weight: 500;        /* font-medium */
  cursor: pointer;
}
.primary {
  background-color: rgb(11, 153, 255); /* Tailwind의 bg-blue-600 */
  color: white !important;             /* text-white */
  transition: background-color 0.2s ease;
}

